<div class="card shadow-sm rounded p-3">
  <div class="d-flex">
    <div class="d-flex pr-3 mr-auto">
      <div class="form-group mb-2">
        <input
          type="text"
          class="form-control mr-2"
          placeholder="Buscar Tema"
          [(ngModel)]="filtroLista"
        />
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" [routerLink]="['/eventos/detalhe']">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th class="d-none d-md-table-cell">Imagem</th>
        <th class="d-none d-md-table-cell">#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados" (click)="detalheEvento(evento.id)" style="cursor: pointer;">
        <td class="d-none d-md-table-cell">
          {{ evento.imagemURL }}
        </td>
        <td class="d-none d-md-table-cell">{{ evento.id }}</td>
        <td>{{ evento.tema }}</td>
        <td class="d-none d-md-table-cell">{{ evento.local }}</td>
        <td>{{ evento.dataEvento | DateTimeFormat }}</td>
        <td class="d-none d-md-table-cell">{{ evento.qtdPessoas }}</td>
        <td class="d-none d-md-table-cell">
          {{ evento.lotes[0].nome | uppercase }}
        </td>
        <td>
          <div class="btn-group">
            <button
              class="btn btn-sm btn-danger"
              tooltip="Deletar"
              placement="top"
              (click)="openModal(template)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h3>Nenhum evento encontrado!</h3>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este Evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>
