<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form class="p-1" [formGroup]="registerForm">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" formControlName="primeiroNome" placeholder="Insira o Primeiro nome" [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched, 'is-valid': !f.primeiroNome.errors && f.primeiroNome.touched}">
          <div class="invalid-feedback" *ngIf="f.primeiroNome.errors?.required">
            Primeiro Nome é obrigatório
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control" formControlName="ultimoNome" placeholder="Insira o Último nome" [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched, 'is-valid': !f.ultimoNome.errors && f.ultimoNome.touched}">
          <div class="invalid-feedback" *ngIf="f.ultimoNome.errors?.required">
            Último nome é obrigatório
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" formControlName="email" placeholder="Insira o Nome Completo" [ngClass]="{'is-invalid': f.email.errors && f.email.touched, 'is-valid': !f.email.errors && f.email.touched}">
        <div class="invalid-feedback" *ngIf="f.email.errors?.required">
          Email é obrigatório
        </div>
        <div class="invalid-feedback" *ngIf="f.email.errors?.email">
          Insira um email valido
        </div>
      </div>
      <div class="form-group">
        <label>Usuario</label>
        <input class="form-control" type="text" formControlName="usuario" placeholder="Insira o nome de Usuário" [ngClass]="{'is-invalid': f.usuario.errors && f.usuario.touched, 'is-valid': !f.usuario.errors && f.usuario.touched}">
        <div class="invalid-feedback" *ngIf="f.usuario.errors?.required">
          Usuario é obrigatório
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Senha</label>
          <input class="form-control" type="password" formControlName="senha" placeholder="Digite uma Senha" [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched, 'is-valid': !f.senha.errors && f.senha.touched}">
          <div class="invalid-feedback" *ngIf="f.senha.errors?.required">
            Senha é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.senha.errors?.minlength">
            Senha deve ter no minimo de 6 caracteres
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Confirmar Senha</label>
          <input class="form-control" type="password" formControlName="confirmarSenha" placeholder="Confirme a Senha" [ngClass]="{'is-invalid': f.confirmarSenha.errors && f.confirmarSenha.touched, 'is-valid': !f.confirmarSenha.errors && f.confirmarSenha.touched}">
          <div class="invalid-feedback" *ngIf="f.confirmarSenha.errors?.required">
            Confirmar Senha é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.confirmarSenha.errors?.mustMatch">
            Confirmar Senha diferente de senha.
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" [routerLink]="['/user/login']">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
